@model  MVC_Maca_Co.Models.Usuario
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>
<body>

    <nav class="navbar  sticky-top navbar-expand-lg navbar-dark  menu ">
        <div class="container-fluid">
            <a class="navbar-brand mx-5" href="@Url.Action("Index","Home")"><img src="../img/image.png" alt="Logo" width="40" height="40" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 menu-links">
                    @if (Model != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("Index","Home")">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link  " href="@Url.Action("Estetica","Home")">Estetica</a>
                        </li>
                    }
                    @*<li class="nav-item">
            <a class="nav-link  " href="@Url.Action("Guarderia","Home")">Guarderia</a>
        </li>*@

                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-5 menu-login">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user "></i>
                        </button>
                        <ul class="dropdown-menu  dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton2">
                            @if (Model == null)
                            {
                                <div>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#login">Ingresar</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Perfil","Home")">Perfil</a></li>
                                </div>
                            }


                            <li><hr class="dropdown-divider"></li>
                            
                            <li>
                                <button type="button"
                                        class="dropdown-item"
                                       value="Go Somewhere Else"
                                       onclick="location.href='@Url.Action("LogOut", "Home")'" >Cerrar sesión</button>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Modales -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="ModalLogin" >
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-body login-modal border-0">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#iniciar" type="button" role="tab" aria-controls="iniciar" aria-selected="true">Iniciar Sesion</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#registrarse" type="button" role="tab" aria-controls="registrarse" aria-selected="false">Registrarse</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active" id="iniciar" role="tabpanel" aria-labelledby="home-tab">
                            <div class="img-login">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="header-login mb-3">
                                <h3 class="fs-1 fw-bold ">Iniciar Sesion</h3>
                            </div>
                            <form action="/Usuario/BuscarUsuario" method="get" class="row form-login mx-2 needs-validation" novalidate>
                                <div class="col-md-12">
                                    <label for="txtcorreo" class="text-start mx-2 mb-2 px-2">Usuario o Correo Electronico</label>
                                    <input name="Correo" type="email" class="form-control  mb-2 w-100" id="txtcorreo" placeholder=" " required>
                                    <div class="invalid-feedback">Ingrese un correo o usuario valido </div>
                                </div>

                                <div class="col-md-12">
                                    <label for="txtpassword" class="text-start  mb-2 mx-2 px-2">Contraseña</label>
                                    <input name="Contrasena" type="password" class="form-control mb-2  " id="txtpassword" placeholder=" " required>
                                    <div class="invalid-feedback">Contraseña incorrecta</div>
                                </div>

                                <div class="d-flex justify-content-around">
                                    <div class="d-flex align-items-center gap-1">
                                        <div class="mb-3">
                                            <input class="form-check-input mt-1" type="checkbox" value="" id="recordarme">
                                            <label class="form-check-label " for="recordarme">Recordarme </label>
                                        </div>
                                    </div>
                                    <div class="pt-1">
                                        <div class="mb-3 forgot">
                                            <a href="#" class="text-decoration-none fw-semibold fst-italic forgot">Olvidaste tu contraseña?</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="mb-3 login-submit">
                                        <button type="submit" class="btn btn-primary  px-5 py-2">Iniciar Sesion</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="registrarse" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="header-register mb-3">
                                <h3 class="fs-1 fw-bold ">Registrarse</h3>
                            </div>

                            <form action="/Usuario/UsuarioVistaPost" method="post" class="row form-register needs-validation mx-2" novalidate>
                                <div class="col-sm-6">
                                    <label for="txtnombre-register" class="text-start  mx-2 mb-2 px-2">Nombre</label>
                                    <input name="Nombre" type="text" class="form-control  mb-2 " id="txtnombre-register" placeholder=" " autocomplete="off" required>
                                    <div class="invalid-feedback">Ingrese un nombre valido </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="txtapellido-register" class="text-start mx-2 mb-2 px-2">Apellido</label>
                                    <input name="Apellido" type="text" class="form-control  mb-2 " id="txtapellido-register" placeholder=" " autocomplete="off" required>
                                    <div class="invalid-feedback">Ingrese un apellido valido </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="txtcorreo-register" class="text-start  mx-2 mb-2 px-2">Correo Electronico </label>
                                    <input name="Correo" type="email" class="form-control  mb-2 " id="txtcorreo-register" placeholder=" " required>
                                    <div class="invalid-feedback">Ingrese un correo valido </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="txtpassword-register" class="text-start mx-2 mb-2 px-2">Contraseña</label>
                                    <input name="Contrasena" type="password" class="form-control  mb-2 " id="txtpassword-register" placeholder=" " required>
                                    <div class="invalid-feedback">Ingrese una contraseña valida </div>
                                </div>
                                <input type="hidden" name="Privilegios" value="Cliente"/>
                                <div class="col-md-12">
                                    <label for="txtpasswordc-register" class="text-start mx-2 mb-2 px-2">Confirmar contraseña</label>
                                    <input type="password" class="form-control  mb-2 " id="txtpasswordc-register" placeholder=" " required>
                                    <div class="invalid-feedback">Las contraseñas no coinciden </div>
                                </div>

                              
                                    <div class="col-md-12 gap-1">
                                        <input class="form-check-input d-inline-block mt-1  check-terminos" type="checkbox" value="" id="terminos" required>
                                        <label class="form-check-label label-terminos d-inline-block " for="terminos">Terminos y Condiciones </label>
                                        <div class="row d-inline w-100 label-terminos"></div>
                                        <div class="invalid-feedback col-md-12 ">Debe de aceptar los terminos y condiciones </div>
                                    </div>


                                <div class="col-sm-12 mt-3">
                                    <div class="mb-3 register-submit d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary px-5 py-2">Registrarse</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3 text-google">
                            <p class="">iniciar sesion con Google:</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3 login-google">
                            <a href="#"><i class="fa fa-google"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class=" w-100">
        @RenderBody()


    </div>

    <footer class="text-center text-lg-start bg-white text-muted mt-5">


        <section class="border-top">
            <div class="container text-center text-md-start mt-5">

                <div class="row mt-5 d-flex justify-content-center ">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center ">

                        <h6 class="text-uppercase fw-bold mb-4">
                            Maca & Co
                        </h6>
                        <p>
                            Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>


                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center ">

                        <h6 class="text-uppercase fw-bold mb-4">Contactanos</h6>
                        <p><img src="~/img/direccion.png" alt="Direccion" width="25" height="25" /> Direccion</p>
                        <p><img src="~/img/correo.png" alt="Correo" width="25" height="25" /> info@example.com</p>
                        <p><img src="~/img/telefono.png" alt="Telefono" width="25" height="25" />  + 01 234 567 88</p>
                        <p><img src="~/img/telefono-casa.png" alt="Telefono casa" width="25" height="25" />  + 01 234 567 89</p>
                    </div>


                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center  ">

                        <h6 class="text-uppercase fw-bold mb-4">
                            Redes Sociales
                        </h6>
                        <p>
                            <a href="#" class="text-decoration-none"><img src="~/img/facebook.png" alt="Facebook" width="25" height="25" /></a>
                        </p>
                        <p>
                            <a href="#" class="text-decoration-none"><img src="~/img/instagram.png" alt="Instagram" width="25" height="25" /></a>
                        </p>
                        <p>
                            <a href="#" class="text-decoration-none"><img src="~/img/twitter.png" alt="Twitter" width="25" height="25" /></a>
                        </p>
                        <p>

                        </p>
                    </div>
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center ">
                        <img src="~/img/house-pet.png" alt="Logo" width="200" height="200" />
                    </div>
                    <!-- Grid row -->
                </div>
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">Maca & Co</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/function.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/0506ae5fcb.js" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
